<div class="fieldset replacement-wrapper">
    <div class="field field-select-shipping">
        <div class="control">
			<div class="replacementsbody">
				<div class="description">
					<p data-bind="i18n: 'Some products may be out of stock in the store/s. Choose how you want replacements handled:'">
					</p>
				</div>
				<div class="fields">
					<label class="ember-radio-button ember-view">
						<span data-bind="i18n: 'Call me - If we can not reach you, we will leave out the unavailable item/s.'"></span>
						<input id="ember3119" name="replacements" type="radio" value="contact-customer" data-validate="{required:true}" class="ember-view required">
							
					</label>
					<label class="ember-radio-button  ember-view">
						<span data-bind="i18n: 'Let the personal shopper select the best available replacement.'"></span>
						<input id="ember3121" name="replacements" type="radio" value="we-decide" data-validate="{required:true}" class="ember-view required" > 
					</label>

					<label class="ember-radio-button  ember-view">
						<span data-bind="i18n: 'Do not call me. Leave out items that are unavailable.'"></span>
						<input id="ember3123" name="replacements" type="radio" value="ignore" data-validate="{required:true}" class="ember-view required"> 
					</label>
				</div>
			</div>
        </div>
    </div>
</div>